body {
    margin: 0px;
    padding: 0px;
    background: #FFFFFF; 
}

body, div {
    /*font-family: 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-family: 'Noto Sans JP', 'Barlow', 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-weight: 300;
}

#map {
    height: 100%;
}

.field-group input, .field-group textarea {
    /*font-family: 'Fira Sans', sans-serif !important;*/   
    font-family: 'Noto Sans JP', 'Barlow', 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;   
    font-size: 16px;   
    font-weight: 300;     
}

.field-group .field-label {
	font-size: 12px;
    font-weight: 300;	
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    max-width: 95%;
    background-color: #FFFFFF;        
}

#logo {
    margin-top: 10px;
    font-size: 40px;
    text-align: right;
}

#title {
    margin-top: 140px;
    font-size: 40px;
}

#info {
    margin-top: 30px;
    font-size: 15px;
    font-style: normal;
}

#searchPanel {
    margin-top: 40px;
    margin-bottom: 30px;
}

a {
    color: #ef5350;  
}

a:hover {
    color: #ef5350;
    text-decoration: underline !important;
    text-decoration-thickness: 2px !important;   
}  

a:visited {
    color: #ef5350; 
    text-decoration: underline !important;
} 

.datasetList {
    font-size: 17px;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 15px;
    padding-bottom: 15px;
    /*margin: -1px -1px 0px -1px;*/    
}

.datasetLink {
    color: #333333;  
    vertical-align: middle;
}

a.datasetLink:hover {
    color: #ef5350;
}  

a.datasetLink:visited {
    color: #333333; 
} 

.datasetArrow {
    cursor: pointer;
}

.model-header {
	font-size: 17px !important;
    color: #333333 !important;	
}

.modal .modal-content .modal-body {
	font-size: 15px !important;
	color: #333333 !important;
}

.modal-body-paragraph {
	padding-bottom: 15px;
}

#modalContainer {
	overflow-y: auto;
	
}