<?xml version="1.0" encoding="utf-8"?>
<themePublications>
  <themePublication>
    <identifier>$themePub.identifier1$</identifier>
    <model>$themePub.iliModelName$</model>
    <lastPublishingDate>2022-01-01</lastPublishingDate>
    <secondToLastPublishingDate>2022-01-01</secondToLastPublishingDate>
    <title>$themePub.title$</title>
    <shortDescription><![CDATA[$themePub.shortDescription$ Pseudo-Thema für die Organisation Amt für Denkmalschutz und Archäologie]]></shortDescription>
    <owner>
      <agencyName>$owner.agency$</agencyName>
      <abbreviation>ada</abbreviation>
      <division>$owner.division$</division>
      <officeAtWeb>https://so.ch/verwaltung/bau-und-justizdepartement/amt-fuer-denkmalpflege-und-archaeologie/</officeAtWeb>
      <email>owner@so.ch</email>
      <phone>032 111 11 11</phone>
    </owner>
    <servicer>
      <agencyName>Amt für Geoinformation</agencyName>
      <abbreviation>agi</abbreviation>
      <officeAtWeb>https://so.ch/verwaltung/bau-und-justizdepartement/amt-fuer-geoinformation/</officeAtWeb>
      <email>servicer@so.ch</email>
      <phone>032 999 99 99</phone>
    </servicer>
    <furtherInformation>https://geo.so.ch/map</furtherInformation>
    <bbox>
      <left>2600000.0</left>
      <bottom>1200000.0</bottom>
      <right>2601000.0</right>
      <top>1201000.0</top>
    </bbox>
    <previewUrl>https://geo.so.ch/map?l=$themePub.identifier$</previewUrl>
    <keywords>
      <keyword>$key1$</keyword>
      <keyword>$key2$</keyword>
    </keywords>
    <synonyms>
      <synonym>$syno1$</synonym>
      <synonym>$syno2$</synonym>
    </synonyms>
    <fileFormats>
      <fileFormat>
        <name>$fileFormat1$ - xtf</name>
        <mimetype>application/vnd.esri_shapefile</mimetype>
        <abbreviation>xtf</abbreviation>
      </fileFormat>
      <fileFormat>
        <name>$fileFormat2$ - gpkg</name>
        <mimetype>application/geopackage+sqlite3</mimetype>
        <abbreviation>gpkg</abbreviation>
      </fileFormat>
    </fileFormats>
    <items>
      <item>
        <identifier>$item1.identifier$</identifier>
        <title>$item1.title$</title>
        <lastPublishingDate>2022-01-01</lastPublishingDate>
        <secondToLastPublishingDate>2022-01-01</secondToLastPublishingDate>
        <bbox>
          <left>2600000.0</left>
          <bottom>1200000.0</bottom>
          <right>2601000.0</right>
          <top>1201000.0</top>
        </bbox>
        <geometry>POLYGON((2600000 1200000,2600000 1201000,2601000 1201000,2601000 1200000,2600000 1200000))</geometry>
      </item>
      <item>
        <identifier>$item2.identifier$</identifier>
        <title>$item2.title$</title>
        <lastPublishingDate>2022-01-01</lastPublishingDate>
        <secondToLastPublishingDate>2022-01-01</secondToLastPublishingDate>
        <bbox>
          <left>2600000.0</left>
          <bottom>1200000.0</bottom>
          <right>2601000.0</right>
          <top>1201000.0</top>
        </bbox>
        <geometry>POLYGON((2600000 1200000,2600000 1201000,2601000 1201000,2601000 1200000,2600000 1200000))</geometry>
      </item>
    </items>
    <tablesInfo>
      <tableInfo>
        <sqlName>$table1.sqlName$</sqlName>
        <title>$table1.title$</title>
        <shortDescription><![CDATA[$table1.shortDescription$]]></shortDescription>
        <attributesInfo>
          <attributeInfo>
            <name>$table1.attr1.name$</name>
            <alias>$table1.attr1.alias$</alias>
            <shortDescription>Adresse: Strassenname

ArtPlusAttribut: Objekte.Strasse</shortDescription>
            <datatype>varchar(4000)</datatype>
            <mandatory>false</mandatory>
          </attributeInfo>
          <attributeInfo>
            <name>$table1.attr2.name$</name>
            <alias>$table1.attr2.alias$</alias>
            <shortDescription>Adresse: Hausnummer und Suffix

ArtPlusAttribut: Objekte.Hausnummer</shortDescription>
            <datatype>varchar(4000)</datatype>
            <mandatory>false</mandatory>
          </attributeInfo>
        </attributesInfo>
      </tableInfo>
      <tableInfo>
        <sqlName>$table2.sqlName$</sqlName>
        <title>$table2.title$</title>
        <shortDescription><![CDATA[$table2.shortDescription$]]></shortDescription>
        <attributesInfo>
          <attributeInfo>
            <name>$table2.attr1.name$</name>
            <alias>$table2.attr1.alias$</alias>
            <shortDescription>Adresse: Strassenname

ArtPlusAttribut: Objekte.Strasse</shortDescription>
            <datatype>varchar(4000)</datatype>
            <mandatory>false</mandatory>
          </attributeInfo>
          <attributeInfo>
            <name>$table2.attr2.name$</name>
            <alias>$table2.attr2.alias$</alias>
            <shortDescription>Adresse: Hausnummer und Suffix

ArtPlusAttribut: Objekte.Hausnummer</shortDescription>
            <datatype>varchar(4000)</datatype>
            <mandatory>false</mandatory>
          </attributeInfo>
        </attributesInfo>
      </tableInfo>
    </tablesInfo>
    <services>
      <service>
        <endpoint>https://geo.so.ch/api/wms</endpoint>
        <type>WMS</type>
        <layerNames>
          <layerName>$service.wmsLayer1$</layerName>
          <layerName>$service.wmsLayer2$</layerName>
        </layerNames>
      </service>
      <service>
        <endpoint>https://geo.so.ch/map</endpoint>
        <type>WGC</type>
        <layerNames>
          <layerName>$service.wmsLayer1$</layerName>
          <layerName>$themePub.identifier$</layerName>
        </layerNames>
      </service>
      <service>
        <endpoint>https://geo.so.ch/api/data/v1</endpoint>
        <type>DATA</type>
        <layerNames>
          <layerName>$service.dataLayer1$</layerName>
        </layerNames>
      </service>
    </services>
  </themePublication>
  <themePublication>
    <identifier>$themePub.identifier2$</identifier>
    <model>$themePub.iliModelName$</model>
    <lastPublishingDate>2022-01-01</lastPublishingDate>
    <secondToLastPublishingDate>2022-01-01</secondToLastPublishingDate>
    <title>$themePub.title$</title>
    <shortDescription><![CDATA[$themePub.shortDescription$ Pseudo-Thema für die Organisation Amt für Denkmalschutz und Archäologie]]></shortDescription>
    <owner>
      <agencyName>$owner.agency$</agencyName>
      <abbreviation>ada</abbreviation>
      <division>$owner.division$</division>
      <officeAtWeb>https://so.ch/verwaltung/bau-und-justizdepartement/amt-fuer-denkmalpflege-und-archaeologie/</officeAtWeb>
      <email>owner@so.ch</email>
      <phone>032 111 11 11</phone>
    </owner>
    <servicer>
      <agencyName>Amt für Geoinformation</agencyName>
      <abbreviation>agi</abbreviation>
      <officeAtWeb>https://so.ch/verwaltung/bau-und-justizdepartement/amt-fuer-geoinformation/</officeAtWeb>
      <email>servicer@so.ch</email>
      <phone>032 999 99 99</phone>
    </servicer>
    <furtherInformation>https://geo.so.ch/map</furtherInformation>
    <bbox>
      <left>2600000.0</left>
      <bottom>1200000.0</bottom>
      <right>2601000.0</right>
      <top>1201000.0</top>
    </bbox>
    <previewUrl>https://geo.so.ch/map?l=$themePub.identifier$</previewUrl>
    <keywords>
      <keyword>$key1$</keyword>
      <keyword>$key2$</keyword>
    </keywords>
    <synonyms>
      <synonym>$syno1$</synonym>
      <synonym>$syno2$</synonym>
    </synonyms>
    <fileFormats>
      <fileFormat>
        <name>$fileFormat1$ - xtf</name>
        <mimetype>application/vnd.esri_shapefile</mimetype>
        <abbreviation>xtf</abbreviation>
      </fileFormat>
      <fileFormat>
        <name>$fileFormat2$ - gpkg</name>
        <mimetype>application/geopackage+sqlite3</mimetype>
        <abbreviation>gpkg</abbreviation>
      </fileFormat>
    </fileFormats>
    <items>
      <item>
        <identifier>$item1.identifier$</identifier>
        <title>$item1.title$</title>
        <lastPublishingDate>2022-01-01</lastPublishingDate>
        <secondToLastPublishingDate>2022-01-01</secondToLastPublishingDate>
        <bbox>
          <left>2600000.0</left>
          <bottom>1200000.0</bottom>
          <right>2601000.0</right>
          <top>1201000.0</top>
        </bbox>
        <geometry>POLYGON((2600000 1200000,2600000 1201000,2601000 1201000,2601000 1200000,2600000 1200000))</geometry>
      </item>
      <item>
        <identifier>$item2.identifier$</identifier>
        <title>$item2.title$</title>
        <lastPublishingDate>2022-01-01</lastPublishingDate>
        <secondToLastPublishingDate>2022-01-01</secondToLastPublishingDate>
        <bbox>
          <left>2600000.0</left>
          <bottom>1200000.0</bottom>
          <right>2601000.0</right>
          <top>1201000.0</top>
        </bbox>
        <geometry>POLYGON((2600000 1200000,2600000 1201000,2601000 1201000,2601000 1200000,2600000 1200000))</geometry>
      </item>
    </items>
    <tablesInfo>
      <tableInfo>
        <sqlName>$table1.sqlName$</sqlName>
        <title>$table1.title$</title>
        <shortDescription><![CDATA[$table1.shortDescription$]]></shortDescription>
        <attributesInfo>
          <attributeInfo>
            <name>$table1.attr1.name$</name>
            <alias>$table1.attr1.alias$</alias>
            <shortDescription>Adresse: Strassenname

ArtPlusAttribut: Objekte.Strasse</shortDescription>
            <datatype>varchar(4000)</datatype>
            <mandatory>false</mandatory>
          </attributeInfo>
          <attributeInfo>
            <name>$table1.attr2.name$</name>
            <alias>$table1.attr2.alias$</alias>
            <shortDescription>Adresse: Hausnummer und Suffix

ArtPlusAttribut: Objekte.Hausnummer</shortDescription>
            <datatype>varchar(4000)</datatype>
            <mandatory>false</mandatory>
          </attributeInfo>
        </attributesInfo>
      </tableInfo>
      <tableInfo>
        <sqlName>$table2.sqlName$</sqlName>
        <title>$table2.title$</title>
        <shortDescription><![CDATA[$table2.shortDescription$]]></shortDescription>
        <attributesInfo>
          <attributeInfo>
            <name>$table2.attr1.name$</name>
            <alias>$table2.attr1.alias$</alias>
            <shortDescription>Adresse: Strassenname

ArtPlusAttribut: Objekte.Strasse</shortDescription>
            <datatype>varchar(4000)</datatype>
            <mandatory>false</mandatory>
          </attributeInfo>
          <attributeInfo>
            <name>$table2.attr2.name$</name>
            <alias>$table2.attr2.alias$</alias>
            <shortDescription>Adresse: Hausnummer und Suffix

ArtPlusAttribut: Objekte.Hausnummer</shortDescription>
            <datatype>varchar(4000)</datatype>
            <mandatory>false</mandatory>
          </attributeInfo>
        </attributesInfo>
      </tableInfo>
    </tablesInfo>
    <services>
      <service>
        <endpoint>https://geo.so.ch/api/wms</endpoint>
        <type>WMS</type>
        <layerNames>
          <layerName>$service.wmsLayer1$</layerName>
          <layerName>$service.wmsLayer2$</layerName>
        </layerNames>
      </service>
      <service>
        <endpoint>https://geo.so.ch/map</endpoint>
        <type>WGC</type>
        <layerNames>
          <layerName>$service.wmsLayer1$</layerName>
          <layerName>$themePub.identifier$</layerName>
        </layerNames>
      </service>
      <service>
        <endpoint>https://geo.so.ch/api/data/v1</endpoint>
        <type>DATA</type>
        <layerNames>
          <layerName>$service.dataLayer1$</layerName>
        </layerNames>
      </service>
    </services>
  </themePublication>
</themePublications>
